/* styling for lines on pages */
hr{
    border: 4px solid black;
}

/* styling for buttons */
button{
    background-color: yellow;
    color: black;
    border: 3px solid;
    font-size: 30px;
    padding: 15px 40px;
}

/* styling for the main section of each page */
.container{
    width: 925px;
    margin: 100px auto;
    display: block;
    box-align: center;
}

/* styling for titles */
.titlep{
    text-align: center;
    font-size: 300%;
}

/* styling for top of pages: logo and navigation */
.logo{
    width: 400px;
}

.nav{
    text-align: center;
}

.navtext{
    font-size: 150%;
    text-decoration: none;
}

.subtext{
    font-size: 200%;
    line-height: 2px;
}

.imgcart{
    display: block;
    box-align: center;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border: 5px solid black;
}

.cartcheckout{
    width: 600px;
    margin: 0 auto;
    display: block;
    box-align: center;
}

.carttotal{
    text-align: center;
    font-size: 250%;
    line-height: 10px;
}

.b2{
    margin: 0 auto;
    display: block;
    box-align: center;
}
.hrBottom{
    border: 4px solid black;
}


.dropdown{
    display: block;
}

/* Styling for gallery items: image spacing, hovering, text */
.gallery{
    box-align: center;
    margin: 70px auto;
    padding: 6px;
    width: 415px;
    height: 550px;
}

.gallery:hover{
    background-color: yellow;
    font-weight: bold;
}

.imggallery{
    display: block;
    box-align: center;
    margin: auto;
    width: 400px;
    height: 400px;
    border: 5px solid black;
}
.gallerytxt{
    box-align: center;
    margin: auto;
    width: 400px;
    font-size: 100%;
    line-height: 3px;
    word-wrap: break-word;
}

/* Styling for displayed cart items: text and images  */
.remove{
    font-size: 15px;
    text-decoration: underline;
}

.cart{
    text-align: center;
    margin: 100px;
}

.imgprice{
    text-align: center;
    font-size: 250%;
    line-height: 50px;
}

.imgdetail{
    display: block;
    box-align: center;
    margin: auto;
    width: 600px;
    height: 600px;
    border: 3px solid black;
}

/* Styling for detail items: image and text */
.textbox{
    display: block;
    box-align: center;
    margin: auto;
    width: 375px;
    height: 200px;
}

.detailsubtext{
    box-align: center;
    margin: auto;
    font-size: 200%;
    word-wrap: break-word;
}

/* Styling for dropdown menus */
.dropdown{
    display: block;
    box-align: center;
    margin: auto;
}

glazediv{
    display: block;
    box-align: center;
    margin: auto;
    font-size: 50px;
}

packdiv{
    display: block;
    box-align: center;
    margin: auto;
}

/* Styling for "add to cart" section at the bottom of the details page */
.addcartblock{
    box-align: center;
    margin: auto;
}

#addcart{
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    display:inline-block;
    justify-content: space-between;
}
